@import "tailwindcss";

html {
  @apply bg-neutral-900;
  @apply text-white;
}

@font-face {
  font-family: "Cabin";
  src: local("cabin-latin-400-normal"), url("../assets/fonts/cabin-latin-400-normal.ttf");
}

body {
  font-family: "Cabin", sans-serif;
}
