.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--space-grid-row) var(--space-grid-column);
}

@media (width < 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
