@import "@fontsource-variable/archivo";
@import "./tokens.css";
@import "./reset.css";

html {
  font-size: clamp(1rem, 0.347vw + 0.584rem, 1.25rem);
}

body {
  font-family: var(--font-sans);
  background: var(--paper);
  color: var(--ink);
  overflow-x: hidden;
}
